<header id="header" class="govuk-header" role="banner" data-module="header">
  <div class="ncs-header__container govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" (click)="onNavigateHome()" class="govuk-header__link govuk-header__link--homepage">
          <img src="/assets/images/crown-white.svg" class="govuk-header__logotype-crown-fallback-image" />
          <span class="govuk-header__logotype-text">
            GOV.UK
          </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="#" (click)="onNavigateHome()" class="govuk-header__link govuk-header__link--service-name">
        National Careers Service
      </a>
    </div>
  </div>
  <div id="sub-header" class="govuk-width-container">
    <app-phase-banner></app-phase-banner>
    <app-breadcrumbs></app-breadcrumbs>

    <div class="govuk-grid-row title" *ngIf="displaySubHeaderTitle">
      <div class="govuk-grid-column-full">
        <h1 class="sub-header__title govuk-heading-xl">{{title}}</h1>
      </div>
    </div>
  </div>
  
</header>